<f:layout name="BeDefault" />

<f:section name="Content">

	<div class="module-body">

		<div class="container-fluid">

			<f:flashMessages />

      <h1>T3themes Materializecss Theme for EXT:t3cms</h1>

      <div class="block-header">
          <h2>See Live Demo by clicking this <f:link.action action="liveDemo" controller="Base"><strong>link</strong></f:link.action></h2>
          <h2>Download <a href="/typo3conf/ext/t3themes_materializecss/Initialisation/data.t3d" download><code>data.t3d</code></a> import file.</h2>
      </div>
      <!-- #END# Input -->

      <hr/>

      <br/>	
      <h1>Materializecss - Content Elements</h1>

			<f:flashMessages />

			<div class="panel panel-info h3">
				<div class="panel-heading">
					Check out the TER, if there is an extension called "t3content_materializecss".
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-info">
						<div class="panel-heading">Parallax Element</div>
						<div class="panel-body">
							<img src="../typo3conf/ext/t3themes_materializecss/Resources/Public/img/Content/ParallaxElement.png" alt="ParallaxElement" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<textarea rows="10" name="" class="form-control" style="color:#02ff00;background:#212121;"><div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container center">
      <br><br>
      <h1 class="header teal-text text-lighten-2">Parallax Template</h1>
      <div class="row">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row ">
        <a href="http://materializecss.com/getting-started.html" id="download-button" target="_blank" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="/typo3conf/ext/t3themes_materializecss/Resources/Public/background1.jpg" alt="Background img 1"></div>
</div></textarea>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<hr/>

			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							Icon Block
						</div>
						<div class="panel-body">
							<img src="../typo3conf/ext/t3themes_materializecss/Resources/Public/img/Content/IconBlock.png" alt="Icon Block" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<textarea rows="10" name="" class="form-control" style="color:#02ff00;background:#212121;"><div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>
          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div></textarea>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<hr/>

			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							Section (Grid)
						</div>
						<div class="panel-body bg-warning">
							<img src="../typo3conf/ext/t3themes_materializecss/Resources/Public/img/Content/SectionGrid.png" alt="SectionGrid" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-body">
							Sections can be used for boxing, grouping and coloring.
							<textarea rows="10" name="" class="form-control" style="color:#02ff00;background:#212121;"><div class="container">
  <div class="section">
    <!-- Wrapping with row and col brings more section spacing -->
    <div class="row">
      <div class="col s12">
        <!-- CONTENT GOES HERE -->
      </div>
    </div>
  </div>
</div></textarea>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>


			<hr/>


		</div>


	</div>

</f:section>
