{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
<f:layout name="Widget" />

<f:section name="content">
<div class="card">
    <div class="card-content">
        <h5><f:translate key="headline.archive"/></h5>
        <ul class="archive divided" style="margin-bottom:0;">
        <f:for each="{archiveData}" as="rows" key="year">
            <f:if condition="{settings.widgets.archive.groupByYear} == 1">
                <f:then>
                    <li class="list-item archive-item archive-item-{year}">
                        <blog:link.archive year="{year}" title="{year}">{year}</blog:link.archive>&nbsp;<blog:link.archive rss="true" year="{year}" title="{year}"><i class="fa fa-rss-square"></i></blog:link.archive>
                        <f:if condition="{settings.widgets.archive.groupByMonth} == 1">
                            <ul style="margin-bottom:0;">
                                <f:for each="{rows}" as="row">
                                    <f:render section="monthLink" arguments="{settings: settings, year: year, row: row}" />
                                </f:for>
                            </ul>
                        </f:if>
                    </li>
                </f:then>
                <f:else>
                    <f:if condition="{settings.widgets.archive.groupByMonth} == 1">
                        <f:for each="{rows}" as="row">
                            <f:render section="monthLink" arguments="{settings: settings, year: year, row: row}" />
                        </f:for>
                    </f:if>
                </f:else>
            </f:if>
        </f:for>
        </ul>
    </div>
</div>
</f:section>

<f:section name="monthLink">
    <li class="list-item archive-item archive-item-{year}-{row.month}">
        <blog:link.archive year="{year}" month="{row.month}" title="{f:format.date(format: '{settings.widgets.archive.monthDateFormat} {settings.widgets.archive.yearDateFormat}', date: row.timestamp)}">
            <f:if condition="{settings.widgets.archive.groupByYear} == 1">
                <f:then>
                    {f:format.date(format: '{settings.widgets.archive.monthDateFormat}', date: row.timestamp)} <f:if condition="{settings.widgets.archive.showCounter} == 1">({row.count})</f:if>
                </f:then>
                <f:else>
                    {f:format.date(format: '{settings.widgets.archive.monthDateFormat} {settings.widgets.archive.yearDateFormat}', date: row.timestamp)} <f:if condition="{settings.widgets.archive.showCounter} == 1">({row.count})</f:if>
                </f:else>
            </f:if>
        </blog:link.archive>
        &nbsp;
        <blog:link.archive rss="true" year="{year}" month="{row.month}" title="{year}"><i class="fa fa-rss-square"></i></blog:link.archive>
    </li>
</f:section>