{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}

<f:layout name="Widget" />

<f:section name="content">
<div class="card">
	<div class="card-content">
		<h5><f:translate key="headline.categories"/></h5>
	    <ul class="categories divided">
	    <f:for each="{categories}" as="category">
	        <li class="list-item category-item category-item-{category.uid}">
	        	<blog:link.category category="{category}" class="waves-effect waves-light btn" style="margin-bottom:6px;" />
	        </li>
	    </f:for>
	    </ul>
	</div>
</div>
</f:section>
