{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
<f:layout name="Widget" />

<f:section name="content">
<div class="card">
	<div class="card-content">
	    <h5><f:translate key="headline.rssfeed"/></h5>
    </div>
	<div class="collection">
		<f:link.action pageUid="{settings.blogUid}" pageType="200" format="rss" action="listRecentPosts" controller="Post" class="collection-item">Recent posts</f:link.action>
	</div>
</div>
</f:section>