{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
<f:layout name="Widget" />

<f:section name="content">
<div class="card">
	<div class="card-content">
		<h5><f:translate key="headline.recentposts"/></h5>
	</div>
	<div class="collection">
		<f:for each="{posts}" as="post">
			<blog:link.post post="{post}" class="collection-item" />
		</f:for>
	</div>
</div>
</f:section>
