{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}

<f:layout name="Widget" />

<f:section name="content">
<div class="card">
	<div class="card-content">
		<h5><f:translate key="headline.tags"/></h5>
	    <f:if condition="{tags}">
		    <div class="tags">
		    <f:for each="{tags}" as="tag">
		        <blog:link.tag tag="{tag.tagObject}" style="margin-bottom:6px;font-size: {tag.size}%" class="waves-effect waves-light btn" />&nbsp;
		    </f:for>
		    </div>
	    </f:if>
	</div>
</div>
</f:section>