<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <!-- Footer -->
    <f:if condition="{t3themesConf.footerTextColor}"><style type="text/css">.footerC{data.uid},.footerC{data.uid} a,.footerC{data.uid} p{color:{t3themesConf.footerTextColor}!important;}</style></f:if>
        <f:switch expression="{t3themesConf.footerFullWidth}">
            <!-- Background > Container -->
            <f:case value="onlybg">
                <footer class="page-footer teal footerC{data.uid}" style="{f:if(condition:'{t3themesConf.footerBgColor}',then:'background-color:{t3themesConf.footerBgColor};',else:'')}">
                    <div class="container">

                        <f:render section="LayoutInner" arguments="{_all}" />

                    </div>

                    <f:if condition="{t3themesConf.colPos2} && {f:cObject(typoscriptObjectPath:'lib.dynamicContentSlide',data:'{pageUid:data.uid,colPos:t3themesConf.colPos2}')}">
                        <div class="footer-copyright">
                            <div class="container">
                                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '{t3themesConf.colPos2}'}" />
                            </div>
                        </div>
                    </f:if>
                </footer>
            </f:case>
            <f:case value="container">
                <!-- Background + Container -->
                <div class="container">
                    <footer class="page-footer teal footerC{data.uid}" style="{f:if(condition:'{t3themesConf.footerBgColor}',then:'background-color:{t3themesConf.footerBgColor};',else:'')}">

                        <f:render section="LayoutInner" arguments="{_all}" />

                        <f:if condition="{t3themesConf.colPos2} && {f:cObject(typoscriptObjectPath:'lib.dynamicContentSlide',data:'{pageUid:data.uid,colPos:t3themesConf.colPos2}')}">
                            <div class="footer-copyright">
                                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '{t3themesConf.colPos2}'}" />
                            </div>
                        </f:if>
                    </footer>
                </div>
            </f:case>
            <f:case default="TRUE">
                <!-- Background (No Container) -->
                <footer class="page-footer teal footerC{data.uid}" style="{f:if(condition:'{t3themesConf.footerBgColor}',then:'background-color:{t3themesConf.footerBgColor};',else:'')}">

                    <f:render section="LayoutInner" arguments="{_all}" />

                    <f:if condition="{t3themesConf.colPos2} && {f:cObject(typoscriptObjectPath:'lib.dynamicContentSlide',data:'{pageUid:data.uid,colPos:t3themesConf.colPos2}')}">
                        <div class="footer-copyright">
                            <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '{t3themesConf.colPos2}'}" />
                        </div>
                    </f:if>

                </footer>
            </f:case>
        </f:switch>
    </footer>

    <f:section name="LayoutInner">
        <f:if condition="{t3themesConf.colPos1}">
            <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '{t3themesConf.colPos1}'}" />
        </f:if>
    </f:section>

</html>
