<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:render section="OverrideStyles" arguments="{t3themesConf:t3themesConf,data:data}" />

	<f:switch expression="{t3themesConf.headerFullWidth}">
		<f:case value="onlybg">
		<!-- Background > Container -->
			<nav class="headerC{data.uid} white nav-extended" role="navigation" style="{f:if(condition:'{t3themesConf.headerBgColor}',then:'background-color:{t3themesConf.headerBgColor};',else:'')}">
				<div class="nav-wrapper container">
					<f:render section="LayoutInner" arguments="{_all}" />
				</div>
			</nav>
		</f:case>
		<f:case value="container">
		<!-- Background + Container -->
			<nav class="headerC{data.uid} white nav-extended container" role="navigation">
				<div class="nav-wrapper" style="{f:if(condition:'{t3themesConf.headerBgColor}',then:'background-color:{t3themesConf.headerBgColor};',else:'')}">
					<f:render section="LayoutInner" arguments="{_all}" />
				</div>
			</nav>
		</f:case>
		<f:case default="TRUE">
		<!-- Background (No Container) -->
			<nav class="headerC{data.uid} white nav-extended" role="navigation" style="{f:if(condition:'{t3themesConf.headerBgColor}',then:'background-color:{t3themesConf.headerBgColor};',else:'')}">
				<div class="nav-wrapper">
					<f:render section="LayoutInner" arguments="{_all}" />
				</div>
			</nav>
		</f:case>
	</f:switch>

	<!-- SECTIONS START -->
		<f:section name="LayoutInner">

			<!-- Header -->
			<f:render section="LogoImage" arguments="{_all}" />
			<f:render section="LogoText" arguments="{_all}" />
			<f:render section="HeaderContent" arguments="{_all}" />

		</f:section>

		<f:section name="LogoImage">
	        <f:if condition="{t3themesConf.headerLogo} != 'hide'">
				<f:if condition="{t3themesConf.headerLogoUrl}">
					<a href="/"><img style="background:{f:if(condition:t3themesConf.headerLogoBgColor,then:t3themesConf.headerLogoBgColor,else:'transparent')};padding:12px;margin:12px 0 0 0;padding-top:0;" src="{t3themesConf.headerLogoUrl}" alt="{t3themesConf.headerLogoUrl}" /></a>
					<!-- f.media maybe? -->
				</f:if>
	    	</f:if>

		</f:section>

		<f:section name="LogoText"><f:spaceless>

			<f:if condition="{t3themesConf.headerLogoText}">
				<f:if condition="{t3themesConf.headerLogoText} != '_'">
					<a id="logo-container" href="/" class="brand-logo"><!-- LogoText -->{t3themesConf.headerLogoText->f:format.raw()}</a>
				</f:if>
			</f:if>

		</f:spaceless></f:section>

		<f:section name="HeaderContent">

			<!-- HEADER CONTENT -->
				<f:switch expression="{t3themesConf.headerDisplay}">
					<f:case value="hidenav"><!-- Nothing --></f:case>
					<f:case default="TRUE">
						<!-- SHOW DEFAULT THEME NAVIGATION -->
						<f:if condition="{mainnavigation}">
							<f:render partial="Navigation/Main" arguments="{_all}" />
						</f:if>
					</f:case>
				</f:switch>

		</f:section>

		<f:section name="OverrideStyles">
			<!-- Header Text & Link Color -->
			<f:if condition="{t3themesConf.headerTextColor}"><style type="text/css">
.headerC{data.uid},.headerC{data.uid} a,.headerC{data.uid} p{color:{t3themesConf.headerTextColor};}
.headerC{data.uid} .dropdown-content li > a, .dropdown-content li > span{color:{t3themesConf.headerTextColor};}
			</style></f:if>
			<!-- Header Background Color -->
			<f:if condition="{t3themesConf.headerBgColor}"><style type="text/css">
.headerC{data.uid} .dropdown-content {background-color:{t3themesConf.headerBgColor};}
.headerC{data.uid} .dropdown-content li:focus,.headerC{data.uid} .dropdown-content li:hover,
.headerC{data.uid} .dropdown-content li.active{opacity:0.8;}
			</style></f:if>
		</f:section>
	<!-- SECTIONS END -->

</html>
