<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{mainnavigation}">
        <!-- Desktop Nav -->
        <ul class="right hide-on-med-and-down">
            <f:for each="{mainnavigation}" as="navitem">
            <f:if condition="{navitem.children}">
                <f:then>
                    <f:render section="NavItemDropdown" arguments="{item:navitem}" />
                </f:then>
                <f:else>
                    <f:render section="NavItem" arguments="{item:navitem}" />
                </f:else>
            </f:if>
            </f:for>
        </ul>
        <!-- Mobile Nav -->
        <ul id="nav-mobile" class="sidenav">
            <f:for each="{mainnavigation}" as="navitem">
            <f:if condition="{navitem.children}">
                <f:then>
                    <f:render section="NavItemDropdown" arguments="{item:navitem,extra:'mobile'}" />
                </f:then>
                <f:else>
                    <f:render section="NavItem" arguments="{item:navitem}" />
                </f:else>
            </f:if>
            </f:for>
        </ul>
       <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </f:if>

    <f:section name="NavItem">
        <li>
            <a class="{f:if(condition:item.active,then:'active')}" href="{item.link}">{item.title}</a>
        </li>
    </f:section>

    <f:section name="NavItemDropdown">
        <li>
            <ul id="dropdown{item.data.uid}_{extra}" class="dropdown-content">
                <f:for each="{item.children}" as="subpage">
                    <li><a href="{subpage.link}">{subpage.title}</a></li>
                </f:for>
            </ul>
            <a class="dropdown-trigger {f:if(condition:item.active,then:'active')}" href="{item.link}" data-target="dropdown{item.data.uid}_{extra}" >{item.title}<i class="material-icons right">arrow_drop_down</i></a>
        </li>
    </f:section>

</html>
